/* Import all fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
}




@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}




:root{
    --black: #232631;
    --gray: #656565;
    --violet: #5A4FCF;
    --orange: #FDC886;
}

.text-violet{
    color: var(--violet);
}

.background{
    background-color: #fafafa;
}

*{
    font-family: 'Poppins';
}

/* Navbar Style */

/* .navbar .collapse.navbar-collapse{
    display: flex !important;
    justify-content: space-between !important;
} */

body{
    padding-bottom: 100px;
}

.navbar{
    padding: 20px 0;
}

.navbar .nav-item a.nav-link{
    color: var(--black);
    font-weight: 600;
    position: relative;
}

a{
    text-decoration: none;
}


.navbar .nav-item a.active::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--violet);
}
.navbar-brand{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.navbar-brand .brand-title{
    font-family: 'Nunito';
    font-weight: 900;
}

.search-input{
    border-radius: 10px ;
    overflow: hidden;
}

.search-input input:focus{
    outline: none;
    box-shadow: none;
}

/* Button */
.btn-login{
    background-color: #5a4fcf10;
    color: var(--violet);
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 10px;

}

.input-group .input-group-text{
    background-color: white;
    border: none;
    outline: none;
}

.carousel{
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner{
    border-radius: 20px;
}

.image-carousel{
    width: 1208px;
    height: 564px;
    object-fit: cover;
    border-radius: 20px;
}

.carousel-detail{
    z-index: 20;
    background-color: white;
    border-radius: 14px;
    overflow: hidden;
    left: -50px;
    padding-right: 100px !important;
}

.btn-warning{
    width: fit-content;
    border-radius: 10px;
    background-color: var(--orange);
}

.icon-wrapper{
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    background-color: #FDC88625;
    color: var(--orange);
}

.card-benefit{
    border-radius: 20px;
    overflow: hidden;
    width: 315px;
    height: 347px;
}

.card-button{
    width: 100%;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: transparent;
    transition: background 0.4s;
}

.card:hover > .card-button{
    background-color: var(--orange);
}

.featured-card{
    min-width: 214px;
    height: 475px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.featured-card .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-card .card-img-overlay{
    background-color: rgb(255, 255, 255);
    height: 131px;
    position: static;
    z-index: 99;
    border-radius: 15px;
    width: 0px;
    padding: 0px;
    overflow: hidden;
    transition: width 0.3s;
}

.featured-card:hover > .card-img-overlay{
    width: 352px;
    padding: 20px;
}

.rounded-icon-wrapper{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-radius: 12px;
    outline: transparent;
    border: none;
}


.dropdown .btn{
    background-color: #F2F2F2;
    height: 64px;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.location-preview-card{
    width: 427px;
    height: 415px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.location-preview-card .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.location-preview-card .card-img-overlay{
    background-color: rgb(255, 255, 255);
    position: static;
    z-index: 99;
    border-radius: 15px;
    width: auto;
    height: 134px;
    padding: 20px;
    overflow: hidden;
    transition: width 0.3s;
}
    
.rotate-90{
    transform: rotate(-90deg);
}

.expert-chef-image{
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
}


.chef-experience{
    background-color: white;
    top: 50px;
    right: 0;
}



.chef-experience .icon-wrapper{
    width: 75px;
    height: 75px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    background-color: #FFF7ED;
    color: var(--orange);
}

.chef-restaurant-card{
    bottom: 50px;
    left: 0;
    border-radius: 15px;
}

.chef-restaurant-card img{  
    width: 98px;
    height: 132px;
    object-fit: cover;
    border-radius: 10px;
}

.top-chef{
    width: 100%;
    height:  848px;
}

.list-chef{
    width: 100%;
    height:  848px;
}

.list-chef li{
    background-color: transparent;
    transition: background 0.3s;
}

.list-chef li:hover{
    background-color: #fff;
}

.list-chef li .profile-detail{
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}


.list-chef li:hover > .profile-detail{
    opacity: 1;
}

.chef-experience, .chef-restaurant-card{
    box-shadow: 8px 8px 25px rgba(102, 102, 102, 0.04);
}